@charset "UTF-8";

body {
    background: url(../images/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe {
    background-color: white;
    height: 472px;
    width: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img.botao {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
}

#img1 {
    top: 5%;
    left: 90%;
}

#img2 {
    top: 17%;
    left:
     90%;
}
#img3 {
    top: 29%;
    left: 90%;
}

#img4 {
    top: 41%;
    left: 90%;
}

#img5 {
    top: 53%;
    left: 90%;
}
#img6 {
    top: 65%;
    left: 90%;
}
